.checkbox {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 3rem;
    padding-top: 0.8rem;
    min-height: 4rem;
    outline: none;

    &:hover {
        & .checkbox__mark:before {
            opacity: 1;
        }
    }

    &:focus {
        & .checkbox__mark:before {
            opacity: 1;
            background-color: $blue_light_easy;
            animation: checkbox-focus ease-in-out 0.35s;
        }
    }

    &__control {
        display: none;

        &:checked+.checkbox__mark {
            background-color: $primary;
            border-color: $primary;

            &:after {
                opacity: 1;
            }
        }
    }

    &__mark {
        font-size: 1rem;
        display: inline-flex;
        position: absolute;
        top: 1rem;
        left: 0;
        width: 1.7em;
        height: 1.7em;
        margin-right: 1em;
        border: 2px solid $text_c;
        border-radius: $bdrs;
        outline: none;

        &:after {
            position: absolute;
            font-family: $icon;
            content: "\f00c";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: $transition;
            opacity: 0;
            font-size: 1.2rem;
            color: #fff;
        }

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: $blue_light_super;
            opacity: 0;
            transition: $transition;
            transform: scale(2.5);
            z-index: -1;
        }
    }

    &__label {

    }   
}

@keyframes checkbox-focus {
    0% {
        background-color: rgba($primary, 0.3);
    }
    100% {
        background-color: $blue_light_easy;
    }
}