.field {
    position: relative;

    &.is_focused {
        & .field__label {
            color: $primary;
        }

        & .field__control-wrap {
            &:before, &:after {
                width: 50%;
                animation: field-focus-line 0.15s linear;
            }
        }
    }

    @keyframes field-focus-line {
        0% {
            width: 0;
        }

        100% {
            width: 50%
        }
    }

    &.is_blured {
        & .field__label {
            font-size: 1.4rem;
            transform: translate(0rem, 2rem);
        }

        & .field__icon {
            display: none;
        }
    }

    &.is_error {
        & .field__label {
            color: $grey_light;
        }

        & .field__control-wrap {
            &:before, &:after {
                width: 50%;
                animation: none;
                background-color: $red;
            }
        }
    }

    &.is_focused.is_error {
        & .field__label {
            color: $red;
        }
    }

    &__label {
        position: absolute;
        top: -1.2rem;
        left: 0;
        font-size: 1.2rem;
        background-color: #fff;
        color: $grey_light;
        z-index: 2;
        transition: 0.15s ease-in-out;
        pointer-events: none;
    }

    &__control-wrap {
        outline: none;
        position: relative;
        border-bottom: 1px solid $grey_light;

        &:before, &:after {
            pointer-events: none;
            position: absolute;
            content: '';
            bottom: -1px;
            width: 0;
            height: 2px;
            background-color: $primary;
        }

        &:before {
            left: 50%;
        }

        &:after {
            right: 50%;
        }
    }

    &__control {
        width: 100%;
        outline: none;
        border: none;
        padding: 0.8rem 0;
        border-radius: inherit;
        font-size: 1.4rem;

        &_icon {
            padding-right: 3rem;
        }
    }

    &__control_textarea {
        display: block;
        height: 15rem;
    }

    &__icon {
        cursor: pointer;
        position: absolute;
        top: 0.5rem;
        right: 0;
        width: 3rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__select {
        border-radius: inherit;
        padding: 1.3rem;
        padding-right: 3rem;
        font-size: 1.4rem;
    }

    &__error {
        margin-top: 0.5rem;
    }
}

@-webkit-keyframes autofill {
    to {
        color: $text_c;
        background: transparent;
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}