@font-face {
    font-family: 'Roboto';
    src: 
        url('../fonts/RobotoItalic/RobotoItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: 
        url('../fonts/RobotoBold/RobotoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: 
        url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: 
        url('../fonts/RobotoMedium/RobotoMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: 
        url('../fonts/RobotoBlack/RobotoBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: 
        url('../fonts/RobotoLight/RobotoLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}