.label {
    position: relative;
    border-radius: $bdrs;
    display: inline-flex;
    padding: 0.5rem 1rem;
    line-height: 1;
    font-size: 1.3rem;

    &_light {
        background-color: $blue_light_easy;
    }

    &_info {
        background-color: $grey_light_middle;
    }
}