.list-action {
    display: flex;
    flex-direction: column;

    &__item {
        position: relative;
        padding: 1rem 0 1rem 3.5rem;

        &:before, &:after {
            position: absolute;
            content: '';
            top: 2.4rem;
        }

        &:before {
            width: 0.9rem;
            height: 0.9rem;
            left: 0;
            border-radius: 50%;
            z-index: 1;
        }

        &:after {
            width: 1px;
            height: 100%;
            background-color: $grey_light_easy;
            left: 0.4rem;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        &:nth-child(1n+1) {
            &:before {
                background-color: $purple;
            }
        }

        &:nth-child(2n+2) {
            &:before {
                background-color: $green;
            }
        }

        &:nth-child(3n+3) {
            &:before {
                background-color: $red;
            }
        }

        &:nth-child(4n+4) {
            &:before {
                background-color: $primary;
            }
        }
    }

    &__front {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }

    &__header {
        
    }

    &__title {
        font-weight: bold;
    }

    &__subtitle {
        color: $grey_light;
        font-size: 1.2rem;
    }

    &__actions {
        padding-top: 0.2rem;
    }

    &__back {
        display: none;
    }
}