.page {
    &__main-title {
        padding-top: 3rem;
    }

    &__description {
        max-width: 70rem;
    }

    &__section {
        padding-top: 3rem;   
    }

    &__title {

    }
}