.rating {
    &__title {
        color: $grey_light;

        & b {
            font-weight: normal;
            padding-left: 0.2rem;
        }

        & span {
            font-size: 1.1rem;
        }
    }

    &__info {
        display: flex;
        align-items: flex-end;
    }

    &__stars-wrap {
        position: relative;
        height: 1.8rem;
        width: 10.4rem;
        margin-left: -0.2rem;
    }

    &__stars {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        font-size: 1.8rem;
        width: 100%;


        & .fa {
            padding: 0 0.2rem;
        }
        
        &_active {
            color: $yellow;
            z-index: 2;
            overflow: hidden;
        }

        &_disable {
            color: $grey_light_middle;   
        }
    }

    &__from {
        margin-top: 0.5rem;
        padding-left: 1rem;
    }
}