@import '../../styles/root';

.card {
    position: relative;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid $grey_light_easy;
    border-radius: $bdrs;
    padding: 15px;
    transition: 0.1s ease-in-out;
    z-index: 2;

    &.is_hidden {
        display: none;
    }

    &.is_move {
        transform: translateY(30px);
        position: relative;
        z-index: 1;
        opacity: 0.4;

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 20px;
            border-radius: $bdrs;
            border: 1px dashed $primary;
            top: -35px;
            left: 0;
        }
    }

    &.is_drag {
        border: 1px solid $green;
    }

    &__badge {
        display: inline-flex;
        padding: 0 5px;
        border-radius: $bdrs;
        color: #ffff;
        font-size: 12px;

        &_base {
            background-color: $green;
        }

        &_light {
            background-color: lighten($primary, 20%);
        }

        &_middle {
            background-color: $orange;
        }

        &_high {
            background-color: $red;
        }
    }

    &__title {
        margin: 10px 0 5px;
        font-weight: bold;
        font-size: 16px;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__description {
        font-size: 12px;
        line-height: 15px;
        color: $grey;
    }

    &__date {
        margin-top: 5px;
        display: flex;
        justify-content: flex-end;
        font-size: 10px;
        color: $grey_light;
    }
}

.stub {
    background-color: $grey_light_easy;
    border-radius: $bdrs;
    margin-bottom: 15px;
}